<h5 style="text-align:center;">
    Add Property Details 
</h5>
<div class="container card mt-3">
    <div class="card-header mt-3">
        <h5 style="text-align: center;">
            Room / Flat
        </h5>
    </div>
    <form action="post">
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="roomType">Type</label>
                <input type="text" class="form-control" placeholder="Property Type">
            </div> 
            <div class="col">
                <label for="roomNumber">Room Number</label>
                <input type="text" class="form-control" placeholder="Room / Flat Number">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label for="numberOfRoom">Quantity</label>
                <input type="number" class="form-control" placeholder="Number of Rooms">
            </div> 
            <div class="col-md-3">
                <label for="roomNumber">Size (SqFt.)</label>
                <input type="number" class="form-control" placeholder="Size of Room/Flat">
            </div>
            <div class="col-md-3">
                <label for="bedroooms">Bedrooms</label>
                <input type="number" class="form-control" placeholder="Number of Bedrooms">
            </div>
            <div class="col-md-3">
                <label for="bathrooms">Bathrooms</label>
                <input type="number" class="form-control" placeholder="Number of Bathrooms">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <label for="rent">Rent</label>
                <input type="number" class="form-control" placeholder="Rent Per Month">
            </div>
            <div class="col-md-3">
                <label for="deposit">Deposit</label>
                <input type="number" class="form-control" placeholder="Security Deposit">
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3" style="text-align: center; width: 100%; margin-bottom: 10px">
            Register 
        </button>
    </form>
    
</div>