<h2 style="text-align: center; margin-top: 10px;">Active Tenants List</h2>
<table class="table table-bordered mt-3">
    <thead>
        <tr>
            <th>Tenant Id</th>
            <th>Name</th>
            <th>Contact</th>
            <th>Alternative Contact</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Check In Date</th>
            <th>Country</th>
            <th>Head</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let t of activeTenants">
            <td> {{t.tenantId}} </td>
            <td> {{t.firstName + " "+ t.lastName}} </td>
            <td> {{t.contact}} </td>
            <td> {{t.alternativeContact}} </td>
            <td> {{t.email}} </td>
            <td> {{t.gender}} </td>
            <td> {{t.checkInDate}}</td>
            <td> {{t.address.country}} </td>
            <td> {{t.headRoomMate}} </td>
        </tr>
    </tbody>
</table>